@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #E38A8A;
}

::-webkit-scrollbar-thumb {
  background: #ECD6D9;
}

::-webkit-scrollbar-thumb:hover {
  background: #E38A8A;
}

body {
  font-family: 'Readex Pro', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  color: #997976;
  font-weight: 600;
}

h2 {
  color: #997976;
  font-weight: bold;
  padding-top: 1rem;  
}

.container {
  padding: 6px;
}

header {
  background-color: #E38A8A;
}

main {
  padding: 3rem;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 50px;
  font-weight: bold;
  padding: 20px;
}

.logo:hover {
  color: #ECD6D9;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: white;
} 

.nav-link:hover {
  color: white;
}

.nav-link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 90%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ECD6D9;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #E38A8A;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
}

#contact a {
  margin: 10px;
}

#contact p {
  font-size: 14px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: none;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform 1s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 1s, -webkit-box-shadow 0.5s;
  transition: transform 1s, box-shadow 0.5s;
  transition: transform 1s, box-shadow 0.5s, -webkit-transform 1s, -webkit-box-shadow 0.5s;
}

.icon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

#icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.btn {
  text-align: center;
}

.btn--twitter {
  color: #55acee;
}

.btn--instagram {
  color: #833AB4;
}

.btn--facebook {
  color: #3a5795;
}

.btn--sendmail {
  color: #C25E30;
}

.contacto{
  border: 1px solid #ffffff;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
  background-color: white;
}

.contacto label{
  display: block; 
  font-weight: bold;
  color: #E38A8A;
}
.contacto div{
  margin-bottom: 15px;
}

.contacto input[type='text'], .contacto textarea{
  padding: 7px 6px;
  width: 100%; 
  border: 1px solid #d4d4d4;
  resize: none; 
  margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
  outline: none;
  box-shadow:0 0 0 3px #dde9ec;
}

.contacto input[type='reset']{
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  background: #E38A8A;
}
.contacto input[type='reset']:hover{
  background: #E38A8A;
  background: -moz-linear-gradient(top, #ECD6D9 5%, #E38A8A 95%);
  background: -webkit-linear-gradient(top, #ECD6D9 5%,#E38A8A 95%);
}
.contacto input[type='reset']:active{
  background: #E38A8A;
  background: -moz-linear-gradient(top, #ECD6D9 5%, #E38A8A 95%);
  background: -webkit-linear-gradient(top, #ECD6D9 5%,#E38A8A 95%);
}


@media (max-width: 575.98px) {
  #icon {
    width: 30px;
    height: 30px;
  }
  ul li {
    font-size: 12px;
  }
  #contact p {
    font-size: 12px;
  }
}

@media (max-width: 767.98px) {
  #icon {
    width: 25px;
    height: 25px;
  }
  ul li {
    font-size: 10px;
  }
  #contact p {
    font-size: 10px;
  }
}

@media (max-width: 991.98px) {
  #icon {
    width: 30px;
    height: 30px;
  }
  ul li {
    font-size: 12px;
  }
  #contact p {
    font-size: 12px;
  }
}

@media (max-width: 1199.98px) {
  #icon {
    width: 40px;
    height: 40px;
  }
  ul li {
    font-size: 14px;
  }
  #contact p {
    font-size: 14px;
  }
}

@media (max-width: 1399.98px) {
  #icon {
    width: 40px;
    height: 40px;
  }
  ul li {
    font-size: 14px;
  }
  #contact p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */